nav.menu .list {
  display: flex;
  align-items: center;
  padding: 2rem 0 1rem;
  margin-bottom: 2rem;
}

nav.menu .list .item {
  margin: 0 0.5rem;
}

nav.menu .list .item a {
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  padding: 0.5rem 2rem;
  transition: .2s;
  display: flex;
  align-items: center;
  position: relative;
}

nav.menu .list .item a::before {
  content: '›';
  position: absolute;
  left: 1rem;
  opacity: 0;
  font-size: 20px;
  transition: .2s;
  font-weight: 100;
  margin-top: -2px;
  transform: translateX(-5px);
}

nav.menu .list .item a:hover {
  color: #37FF4B;
}

nav.menu .list .item a:hover::before {
  opacity: 1;
  transform: translateX(0px);
}