section.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;
}

section.content .left {
  max-width: 40%;
}

section.content .left .hi {
  font-size: 38px;
  font-weight: 400;
  position: relative;
  color: var(--green);
}

section.content .left .hi::before {
  content: '›';
  position: absolute;
  left: -1.5rem;
  font-size: 30px;
  transition: .2s;
  font-weight: 100;
  margin-top: 4px;
  z-index: 20;
  color: var(--green);
  animation: blink 2s infinite linear;
}

section.content .left .title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 4rem;
}

section.content .left .title .colored {
  color: var(--green);
}

section.content .left .desc p {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 1.5rem;
}

section.content .right {
  max-width: 50%;
  width: 100%;
  position: relative;
}

section.content .right .laptop {
  width: 500px;
  margin-top: 10rem;
  margin-left: 10rem;
  animation: fade-top 1s ease-in-out;
}

section.content .right .phone {
  position: absolute;
  left: 5%;
  top: 20%;
  width: 150px;
  animation: fade-top 1s ease-in-out;
}

@keyframes fade-top {
  0% {
    opacity: 0;
    transform: translate(-5px, 30px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }

  50%, 100% {
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  section.content .left {
    max-width: 100%;
  }

  section.content .right { display: none; }
}