section.content {
    padding-left: 3.5rem;
    display: flex;
    padding-top: 2rem;
    min-height: 80vh;
}

section.content > .text {
    max-width: 30vw;
    width: 100%;
}

section.content > .text .title {
    font-size: 30px;
    color: #323978;
    margin-bottom: .5rem;
}

section.content > .text .desc {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 2rem;
}

section.content > .text .desc strong {
    font-weight: 600;
    color: #323978;
}

section.content > .text .cta-button {
    padding: 1rem 3rem;
    background-color: #323978;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    border-radius: 3px;
}

section.content > .notebook-decoration {
    position: fixed;
    right: 0;
    top: 0;
    width: 35vw;
    background: url("../../images/decoration/notebook-bg.png") right/contain no-repeat;
    height: 95vh;
}

section.content > .notebook-decoration .mobile {
    position: absolute;
    max-width: 200px;
    bottom: 275px;
    right: 225px;
    z-index: 90;
}

section.content > .notebook-decoration .notebook {
    position: absolute;
    bottom: 50px;
    max-width: 450px;
    right: 0px;
}